Source: fonts-beteckna
Section: fonts
Priority: optional
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Uploaders: Johan Mattsson <johan@beteckna.se>
Build-Depends: debhelper-compat (= 13), birdfont
Standards-Version: 4.5.1
Homepage: https://github.com/jeffmcneill/beteckna

Package: fonts-beteckna
Architecture: all
Multi-Arch: foreign
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}
Replaces: ttf-beteckna (<< 0.4-4)
Breaks: ttf-beteckna (<< 0.4-4)
Description: geometric Futura-like sans-serif TrueType font
 This package provide a geometric sans-serif font, similar to the popular
 Futura one.
