Package: fonts-beteckna
Version: 0.5-3
Architecture: all
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Installed-Size: 364
Breaks: ttf-beteckna (<< 0.4-4)
Replaces: ttf-beteckna (<< 0.4-4)
Section: fonts
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/jeffmcneill/beteckna
Description: geometric Futura-like sans-serif TrueType font
 This package provide a geometric sans-serif font, similar to the popular
 Futura one.
